:host {
  display: block;
  color: white;
  padding: 3rem 2rem;
}

section {
  margin-top: 2rem;
}

section h2 {
  color: var(--green);
}

section h4 {
  color: var(--gray-light);
}

/* PC */
:host.pc section {
  width: 600px;
  position: relative;
  margin-left: 2rem;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding-left: 2rem;
  padding-bottom: 2rem;
}
